<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
        <style type="text/css" src="main.css"></style>
        <title>Module 1 Solution</title>
    </head>
    <body ng-app="LunchCheck">
        <div ng-controller="LunchCheckController">
            <!-- Empty item (i.e. ",," or ",    ,") isn't taken as an item towards to the count           -->
            <input type="text" ng-model="value" ng-style="inputStyle">
            <button ng-click="checkStatus(value)">Check If Too Much</button>
            <br>
            <p ng-style="myStyle">{{textboxStatus}}</p>
        </div>
    </body>
</html>